html {
  // overflow: hidden;
  // overflow-x: hidden;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // height: 300vh;
  overflow-x: hidden;
  // position: fixed;
  // top: 0;
  // left: 0;
  // overflow-y: hidden;
  // scrollbar-gutter: stable;
  min-height: 568px;
}
.container {
  margin: auto;
  width: 1320px;
  //   background-color: red;
}
.scroll-block {
  overflow: hidden;
}
.regular-transition {
  transition: all 200ms linear;
}
.height-limit {
  min-height: 568px;
  max-height: 1920px;
}
.page-topic-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 70px;
  // margin-bottom: 100px;
  &::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    height: 1px;
    width: 150px;
    background-color: $purple-bg-high;
  }
}
.page-topic {
  font-family: $primary-font;
  color: $purple-bg-high;
  font-size: 50px;
  text-transform: capitalize;
  margin: 0;
}
.tester {
  width: max-content;
  height: auto;
  padding: 1rem 2rem;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 33, 33);
  .tester-text {
    display: none;
    color: aliceblue;
    font-family: $primary-font;
  }
}
@keyframes showAlert {
  0% {
    transform: translateX(120%);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.alert {
  // width: 500px;
  width: max-content;
  max-width: 90%;
  min-height: 50px;
  height: auto;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 50;
  // background-color: $purple-bg-high;
  background-color: $news-hover-bg;
  border: 1px solid $purple-bg-high;
  // border: 1px solid $news-hover-bg;
  // opacity: 0.5;
  box-sizing: border-box;
  padding: 10px 10px;
  // display: flex;
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateX(120%);
}
.pop-alert {
  animation-name: showAlert;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
.pop-alert-reverse {
  animation-direction: reverse;
  animation-name: showAlert;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
.show-alert {
  display: flex;
}
.alert-success {
  display: flex !important;
}
.alert-error {
  display: flex !important;
}
.alert-close-btn {
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: all 200ms linear;
  &:hover {
    background-color: $purple-bg-low;
  }
}
.alert-close-icon {
  color: $description-color;
  font-size: 20px;
  pointer-events: none;
}
.alert-text-box {
  width: max-content;
  min-height: 50px;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: 25px;
}
.alert-text {
  font-family: $primary-font;
  color: $description-color;
  font-size: 15px;
  text-align: left;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  // line-height: 25px;
}
.alert-text-icon {
  color: $description-color;
  font-size: 15px;
  margin-right: 10px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .s1200-1399 {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .page-topic {
    font-size: 40px;
  }
  .page-topic-container {
    &::after {
      top: 110%;
      width: 130px;
    }
  }
  .s992-1199 {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .page-topic {
    font-size: 35px;
  }
  .page-topic-container {
    &::after {
      top: 110%;
      width: 120px;
    }
  }
  .s768-991 {
    display: block !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .page-topic {
    font-size: 35px;
  }
  .page-topic-container {
    &::after {
      top: 110%;
      width: 110px;
    }
  }
  .s576-767 {
    display: block !important;
  }
}
@media (max-width: 575px) {
  .container {
    width: 95%;
  }
  .page-topic {
    font-size: 30px;
  }
  .page-topic-container {
    &::after {
      top: 110%;
      width: 100px;
    }
  }
  .s575 {
    display: block !important;
  }
}
