.contact-us {
  margin: auto;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin: 100px auto;
  // position: relative;
}
.form-items {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 1rem 0;
}
.form-input-label-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.5rem;
}
.form-input-label {
  font-family: $primary-font;
  color: $description-color;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
.form-input-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.form-input {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  font-family: $primary-font;
  background-color: $purple-bg-low;
  border: none;
  outline: none;
  color: $purple-bg-high;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}
.form-select {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  font-family: $primary-font;
  background-color: $purple-bg-low;
  text-transform: capitalize;
  color: $purple-bg-high;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.form-selected-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  pointer-events: none;
}
.form-select-arrow {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-select-arrow-icon {
  color: inherit;
  font-size: 1.2rem !important;
  pointer-events: none;
  transition: transform 100ms ease-in-out;
}
.form-item-half {
  width: 49%;
}
.form-item-full {
  width: 100%;
}
.form-send-btn {
  margin: 1rem 0;
  border: none;
  font-family: $primary-font;
  background-color: $purple-bg-high;
  font-size: 20px;
  font-weight: 500;
  color: $purple-bg-low;
  text-transform: capitalize;
  padding: 0.4rem 4rem;
}
.form-options {
  min-width: 100%;
  width: max-content;
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  background-color: $purple-bg-low;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 105%;
  right: 0;
  box-sizing: border-box;
  transform: translateY(-20px);
  transition: transform 100ms ease-in-out;
}
.option-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  transition: all 100ms linear;
  &:hover {
    background-color: $news-hover-bg;
    color: $purple-bg-low;
  }
  &:active {
    background-color: $news-hover-bg;
    color: $purple-bg-low;
  }
}
.option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  pointer-events: none;
  text-transform: capitalize;
}
.option-display {
  display: flex !important;
}
.options-anim {
  transform: translateY(0);
}
.arrow-up {
  transform: rotate(180deg);
  transform-origin: center;
}
//
@media (min-width: 768px) and (max-width: 991px) {
  .form-input-label {
    font-size: 18px;
  }
  .form-input-label {
    font-size: 18px;
  }
  .form-send-btn {
    margin: 1rem 0;
    font-size: 18px;
    padding: 0.4rem 4rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .form-input-label {
    font-size: 16px;
  }
  .form-input {
    font-size: 14px;
  }
  .form-select {
    font-size: 14px;
  }
  .form-item-half {
    width: 100%;
  }
  .form-send-btn {
    margin: 1rem 0;
    font-size: 18px;
    padding: 0.4rem 4rem;
  }
}
@media (max-width: 575px) {
  .form-input-label {
    font-size: 16px;
  }
  .form-input {
    font-size: 14px;
  }
  .form-select {
    font-size: 14px;
  }
  .form-item-half {
    width: 100%;
  }
  .form-send-btn {
    margin: 1rem 0;
    font-size: 18px;
    padding: 0.4rem 4rem;
  }
}
