.news {
  height: auto;
}
.news-display {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 0;
}
.news-navigators {
  width: 35%;
  height: 700px;
  // padding: 4rem 0;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.news-navigators-scroller {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}
.news-navigator-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  border: none;
  outline: none;
  background-color: $purple-bg-low;
  opacity: 0.8;
  transition: all 100ms linear;
  &:hover {
    opacity: 1;
  }
}
.news-navigator-up-arrow {
  top: 0;
}
.news-navigator-down-arrow {
  bottom: 0;
}
.news-navigator-arrow-symbol {
  font-size: 30px;
  color: $topic-color;
}
.news-container {
  width: 60%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $purple-bg-low;
}
.news-navigator {
  width: 100%;
  height: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // overflow: hidden;
  cursor: pointer;
  &:hover {
    .news-navigator-img-container {
      &::after {
        height: 5px;
      }
    }
    .news-navigator-icon {
      color: $news-hover-bg;
    }
  }
}
.news-navigator-icon-container {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.news-navigator-icon {
  color: $description-color;
  padding-right: 10px;
  transition: all 100ms linear;
}
.news-navigator-img-container {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: $news-hover-bg;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: all 100ms linear;
  }
}
.news-navigator-img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.active-news {
  &::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: $news-hover-bg;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}
.news-img-container {
  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-img {
  height: 100%;
}
.news-content-container {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
.news-content-title {
  font-size: 25px;
  text-align: right;
  font-family: $primary-font;
  color: $topic-color;
  font-weight: 700;
  padding-bottom: 20px;
}
.news-content-description {
  font-family: $primary-font;
  color: $description-color;
  font-size: 15px;
  text-align: right;
  font-weight: 500;
  line-height: 25px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
  .news-navigators {
    width: 25%;
  }
  .news-container {
    width: 70%;
  }
  .news-navigator-arrow-symbol {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .news-navigators {
    width: 20%;
  }
  .news-container {
    width: 75%;
    flex-direction: column;
  }
  .news-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .news-img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  .news-content-title {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
  }
  .news-content-description {
    font-size: 14px;
    text-align: left;
  }
  .news-navigator-arrow-symbol {
    font-size: 25px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .news-navigators {
    width: 20%;
  }
  .news-container {
    width: 75%;
    flex-direction: column;
  }
  .news-img-container {
    width: 100%;
    height: 250px;
  }
  .news-img {
    width: 100%;
    height: auto;
  }
  .news-content-title {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
  }
  .news-content-description {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 25px;
  }
  .news-navigator-arrow-symbol {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .news-display {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .news-navigators {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }
  .news-navigator {
    max-width: 8rem;
    min-width: 7rem;
    // height: 5rem;
    height: auto;
    margin: 0;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .news-container {
    width: 100%;
    flex-direction: column;
  }
  .news-img-container {
    width: 100%;
    height: 250px;
  }
  .news-img {
    width: 100%;
    height: auto;
  }
  .news-content-title {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
  }
  .news-content-description {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 25px;
  }
  //
  .news-navigator-arrow {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    top: 50%;
    transform: translateX(0);
    transform: translateY(-50%);
  }
  .news-navigator-up-arrow {
    left: 0;
  }
  .news-navigator-down-arrow {
    right: 0;
  }
  .news-navigators-scroller {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  //
  .news-navigator-arrow-symbol {
    font-size: 25px;
    transform: rotate(-90deg);
  }
  .news-navigator-icon-container {
    height: max-content;
  }
  .news-navigator-img-container {
    width: 100%;
    height: 3rem;
    flex: auto;
    overflow: hidden;
  }
}
