.class-timetable {
  margin: auto;
  padding: 2rem 0;
}
.table-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 100px auto;
}
.table {
  width: 100%;
  height: auto;
}
.table-head {
  font-size: 18px;
  width: 100%;
  height: max-content;
  .table-row {
    .table-data {
      .table-data-description {
        padding: 2rem 0;
      }
    }
  }
}
.table-row {
  width: 100%;
  font-family: $primary-font;
  color: $description-color;
  text-align: center;
  text-transform: capitalize;
}
.table-body {
  width: 100%;
  font-size: 16px;
  .table-data {
    background-color: $purple-bg-low;
    .table-data-description {
      padding: 0.2rem 0;
    }
  }
}
.table-data-container {
  width: 100%;
  background-color: $purple-bg-low;
}
.table-date {
  font-family: $primary-font;
  color: $topic-color;
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  margin: 20px 0;
}
