// colors
$purple-bg-low: #e7e1ea;
$purple-bg-high: #6a5a72;
$purple-backdrop-bg: #6a5a7266;
$page-title-color: #6a5a72;
$topic-color: #423847;
$description-color: #504356;
$news-hover-bg: #ab96b6;
// fonts
$header-font: "Jockey One", sans-serif;
$primary-font: "Kaisei HarunoUmi", serif;
