// colors
$purple-bg-low: hsl(280, 18%, 90%);
$purple-bg-high: #6a5a72;
$purple-backdrop-bg: #6a5a7266;
$page-title-color: #6a5a72;
$topic-color: #423847;
$description-color: #504356;
// fonts
$header-font: "Jockey One", sans-serif;
$primary-font: "Kaisei HarunoUmi", serif;
