// colors
$purple-bg-low: hsl(280, 18%, 90%);
$purple-bg-high: hsl(280, 12%, 40%);
$page-title-color: hsl(280, 12%, 40%);
$topic-color: hsl(280, 12%, 25%);
$description-color: hsl(280, 12%, 30%);
// fonts
$header-font: "Jockey One", sans-serif;
$primary-font: "Kaisei HarunoUmi", serif;
