html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 568px;
}

.container {
  margin: auto;
  width: 1320px;
}

.scroll-block {
  overflow: hidden;
}

.regular-transition {
  transition: all 200ms linear;
}

.height-limit {
  min-height: 568px;
  max-height: 1920px;
}

.page-topic-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 70px;
}
.page-topic-container::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 1px;
  width: 150px;
  background-color: #6a5a72;
}

.page-topic {
  font-family: "Kaisei HarunoUmi", serif;
  color: #6a5a72;
  font-size: 50px;
  text-transform: capitalize;
  margin: 0;
}

.tester {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 1rem 2rem;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 33, 33);
}
.tester .tester-text {
  display: none;
  color: aliceblue;
  font-family: "Kaisei HarunoUmi", serif;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .s1200-1399 {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .page-topic {
    font-size: 40px;
  }
  .page-topic-container::after {
    top: 110%;
    width: 130px;
  }
  .s992-1199 {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .page-topic {
    font-size: 35px;
  }
  .page-topic-container::after {
    top: 110%;
    width: 120px;
  }
  .s768-991 {
    display: block !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .page-topic {
    font-size: 35px;
  }
  .page-topic-container::after {
    top: 110%;
    width: 110px;
  }
  .s576-767 {
    display: block !important;
  }
}
@media (max-width: 575px) {
  .container {
    width: 95%;
  }
  .page-topic {
    font-size: 30px;
  }
  .page-topic-container::after {
    top: 110%;
    width: 100px;
  }
  .s575 {
    display: block !important;
  }
}
.navbar {
  width: 100%;
  height: 65px;
}

.navbar-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-purple {
  background-color: #6a5a72;
}

.navbar-container {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.navbar-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.navbar-logo {
  height: 80%;
}

.navbar-hamburger-icon-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-hamburger-icon {
  width: 40px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.navbar-hamburger-icon-bar {
  width: 100%;
  height: 2px;
  background-color: #e7e1ea;
  transition: all 100ms linear;
}

.hamburger-clicked {
  transform: translateX(-10px);
}

.navbar-side-menu-container {
  width: 500px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(200px);
  background-color: #6a5a72;
  z-index: -10;
  transition: all 150ms linear;
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.navbar-side-menu-container-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(106, 90, 114, 0.4);
  z-index: -20;
  display: none;
}

.side-menu-anim {
  transform: translateX(0);
}

.side-menu-show {
  display: flex;
}

.side-menu-backdrop-visible {
  display: block !important;
}

.nav-links-container {
  height: calc(80% - 65px);
  margin-top: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-link-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  position: relative;
}
.nav-link-container::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e7e1ea;
  transition: all 200ms linear;
}
.nav-link-container:hover::after {
  width: 50%;
}

.nav-link {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 30px;
  color: #e7e1ea;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px 0 10px 0;
  margin: 0;
}

.active-nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e7e1ea;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar-side-menu-container {
    width: 580px;
  }
  .nav-link {
    font-size: 25px;
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-side-menu-container {
    width: 480px;
  }
  .nav-link {
    font-size: 23px;
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-side-menu-container {
    width: 470px;
  }
  .nav-link {
    font-size: 23px;
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-side-menu-container {
    width: 350px;
  }
  .nav-link {
    font-size: 23px;
    padding: 10px 0 10px 0;
  }
}
@media (max-width: 575px) {
  .navbar-side-menu-container {
    width: 70%;
  }
  .nav-link {
    font-size: 20px;
    padding: 10px 0 10px 0;
  }
}
.header {
  width: 100vw;
  height: 100dvh;
  background-image: url("../images/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-texts-container {
  width: 800px;
}

.header-topic-container {
  width: 100%;
}

.header-topic {
  font-family: "Jockey One", sans-serif;
  font-size: 110px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: 1px #6a5a72;
}

.header-sub-topic-container {
  width: 100%;
}

.header-sub-topic {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 30px;
  font-weight: 500;
  color: #e7e1ea;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 280px;
  height: 50px;
  background-color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-family: "Kaisei HarunoUmi", serif;
  text-decoration: none;
  font-weight: 500;
  color: #6a5a72;
  text-transform: capitalize;
}
.header-btn:hover {
  background-color: #e7e1ea;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .header-texts-container {
    width: 800px;
  }
  .header-topic {
    font-size: 100px;
  }
  .header-sub-topic {
    font-size: 25px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 280px;
    height: 50px;
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-texts-container {
    width: 800px;
  }
  .header-topic {
    font-size: 90px;
  }
  .header-sub-topic {
    font-size: 20px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 280px;
    height: 50px;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-texts-container {
    width: 700px;
  }
  .header-topic {
    font-size: 80px;
  }
  .header-sub-topic {
    font-size: 18px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 260px;
    height: 45px;
    font-size: 18px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header-texts-container {
    width: 500px;
  }
  .header-topic {
    font-size: 75px;
  }
  .header-sub-topic {
    font-size: 18px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 260px;
    height: 45px;
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .header-texts-container {
    width: 100%;
  }
  .header-topic {
    font-size: 60px;
    padding: 0 10px 0 10px;
  }
  .header-sub-topic {
    font-size: 16px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 240px;
    height: 40px;
    font-size: 16px;
  }
}
.goal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 0;
  opacity: 0;
}

@keyframes show-goal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show-goal {
  animation: show-goal 700ms linear forwards;
}

.goal-img-container {
  width: 40%;
  height: auto;
}

.goal-img {
  width: 100%;
}

.goal-content-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.goal-content-topic {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 32px;
  color: #423847;
  text-align: end;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.goal-content-description {
  font-family: "Kaisei HarunoUmi", serif;
  color: #504356;
  font-size: 18px;
  text-align: end;
  line-height: 35px;
}

.goal-reverse {
  flex-direction: row-reverse !important;
}

.goal-content-topic-reverse {
  text-align: start !important;
}

.goal-content-description-reverse {
  text-align: start !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .goal-content-topic {
    font-size: 30px;
  }
  .goal-content-description {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .goal {
    flex-direction: column;
  }
  .goal-reverse {
    flex-direction: column !important;
  }
  .goal-img-container {
    width: 100%;
  }
  .goal-content-container {
    margin-top: 20px;
    width: 100%;
  }
  .goal-content-topic {
    font-size: 30px;
    text-align: start;
  }
  .goal-content-description {
    font-size: 16px;
    line-height: 28px;
    text-align: start;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .goal {
    flex-direction: column;
  }
  .goal-reverse {
    flex-direction: column !important;
  }
  .goal-img-container {
    width: 100%;
  }
  .goal-content-container {
    margin-top: 20px;
    width: 100%;
  }
  .goal-content-topic {
    font-size: 30px;
    text-align: start;
  }
  .goal-content-description {
    font-size: 16px;
    line-height: 28px;
    text-align: start;
  }
}
@media (max-width: 575px) {
  .goal {
    flex-direction: column;
    margin: 80px 0;
  }
  .goal-reverse {
    flex-direction: column !important;
  }
  .goal-img-container {
    width: 100%;
  }
  .goal-content-container {
    margin-top: 20px;
    width: 100%;
  }
  .goal-content-topic {
    font-size: 30px;
    text-align: start;
  }
  .goal-content-description {
    font-size: 16px;
    line-height: 28px;
    text-align: start;
  }
}
.news {
  height: auto;
}

.news-display {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 0;
}

.news-navigators {
  width: 35%;
  height: 700px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}

.news-container {
  width: 60%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e1ea;
}

.news-navigator {
  width: 100%;
  height: 70px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.news-navigator:hover .news-navigator-img-container::after {
  height: 5px;
}
.news-navigator:hover .news-navigator-icon {
  color: #ab96b6;
}

.news-navigator-icon-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.news-navigator-icon {
  color: #504356;
  padding-right: 10px;
  transition: all 100ms linear;
}

.news-navigator-img-container {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.news-navigator-img-container::after {
  content: "";
  width: 100%;
  height: 0;
  background-color: #ab96b6;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition: all 100ms linear;
}

.news-navigator-img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.active-news::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ab96b6;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.news-img-container {
  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-img {
  height: 100%;
}

.news-content-container {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.news-content-title {
  font-size: 25px;
  text-align: right;
  font-family: "Kaisei HarunoUmi", serif;
  color: #423847;
  font-weight: 700;
  padding-bottom: 20px;
}

.news-content-description {
  font-family: "Kaisei HarunoUmi", serif;
  color: #504356;
  font-size: 15px;
  text-align: right;
  font-weight: 500;
  line-height: 25px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .news-navigators {
    width: 25%;
  }
  .news-container {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .news-navigators {
    width: 20%;
  }
  .news-navigator {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 2rem;
  }
  .news-navigator-icon-container {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .news-navigator-icon {
    font-size: 1.3rem !important;
    padding: 0;
  }
  .news-navigator-img-container {
    flex: none;
    width: 100%;
    height: 3rem;
  }
  .news-container {
    width: 75%;
    flex-direction: column;
  }
  .news-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .news-img {
    min-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news-content-title {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
  }
  .news-content-description {
    font-size: 14px;
    text-align: left;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .news-navigators {
    width: 20%;
  }
  .news-container {
    width: 75%;
    flex-direction: column;
  }
  .news-img-container {
    width: 100%;
    height: 250px;
  }
  .news-img {
    width: 100%;
    height: auto;
  }
  .news-content-title {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
  }
  .news-content-description {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 25px;
  }
  .news-navigator {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .news-navigator-img-container {
    width: 100%;
    height: 3rem;
  }
  .news-navigator-icon-container {
    height: auto;
    width: -moz-max-content;
    width: max-content;
  }
  .news-navigator-icon {
    font-size: 1.3rem !important;
    padding: 0;
  }
}
@media (max-width: 575px) {
  .news-display {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .news-navigators {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    padding: 1rem 0;
    flex-direction: row;
  }
  .news-navigator {
    max-width: 8rem;
    min-width: 7rem;
    height: auto;
    margin: 0;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .news-container {
    width: 100%;
    flex-direction: column;
  }
  .news-img-container {
    width: 100%;
    height: 250px;
  }
  .news-img {
    width: 100%;
    height: auto;
  }
  .news-content-title {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
  }
  .news-content-description {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 25px;
  }
  .news-navigator-icon-container {
    height: -moz-max-content;
    height: max-content;
  }
  .news-navigator-icon {
    font-size: 1.3rem !important;
    padding: 0;
  }
  .news-navigator-img-container {
    flex: none;
    width: 100%;
    height: 3rem;
    flex: auto;
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */