html {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  overflow-x: hidden;
  min-height: 568px;
}

.container {
  margin: auto;
  width: 1320px;
}

.scroll-block {
  overflow: hidden;
}

.regular-transition {
  transition: all 200ms linear;
}

.height-limit {
  min-height: 568px;
  max-height: 1920px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 95%;
  }
}
.navbar {
  width: 100%;
  height: 65px;
}

.navbar-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-purple {
  background-color: hsl(280, 12%, 40%);
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.navbar-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.navbar-logo {
  height: 80%;
}

.navbar-hamburger-icon-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-hamburger-icon {
  width: 40px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.navbar-hamburger-icon-bar {
  width: 100%;
  height: 2px;
  background-color: hsl(280, 18%, 90%);
  transition: all 100ms linear;
}

.hamburger-clicked {
  transform: translateX(-10px);
}

.navbar-side-menu-container {
  width: 680px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -200%;
  background-color: hsl(280, 12%, 40%);
  z-index: -10;
  transition: all 200ms linear;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navbar-side-menu-container-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(280, 12%, 40%, 0.4);
  z-index: -20;
  display: none;
}

.side-menu-open {
  right: 0 !important;
}

.side-menu-backdrop-visible {
  display: block !important;
}

.nav-links-container {
  height: calc(80% - 65px);
  margin-top: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-link-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  position: relative;
}
.nav-link-container::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(280, 18%, 90%);
  transition: all 200ms linear;
}
.nav-link-container:hover::after {
  width: 50%;
}

.nav-link {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 30px;
  color: hsl(280, 18%, 90%);
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px 0 10px 0;
  margin: 0;
}

.active-nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(280, 18%, 90%);
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar-side-menu-container {
    width: 580px;
  }
  .nav-link {
    font-size: 25px;
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-side-menu-container {
    width: 480px;
  }
  .nav-link {
    font-size: 23px;
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-side-menu-container {
    width: 470px;
  }
  .nav-link {
    font-size: 23px;
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-side-menu-container {
    width: 350px;
  }
  .nav-link {
    font-size: 23px;
    padding: 10px 0 10px 0;
  }
}
@media (max-width: 575px) {
  .navbar-side-menu-container {
    width: 70%;
  }
  .nav-link {
    font-size: 20px;
    padding: 10px 0 10px 0;
  }
}
.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-texts-container {
  width: 800px;
}

.header-topic-container {
  width: 100%;
}

.header-topic {
  font-family: "Jockey One", sans-serif;
  font-size: 110px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: 1px hsl(280, 12%, 40%);
}

.header-sub-topic-container {
  width: 100%;
}

.header-sub-topic {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 30px;
  font-weight: 500;
  color: hsl(280, 18%, 90%);
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 280px;
  height: 50px;
  background-color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-family: "Kaisei HarunoUmi", serif;
  text-decoration: none;
  font-weight: 500;
  color: hsl(280, 12%, 40%);
  text-transform: capitalize;
}
.header-btn:hover {
  background-color: hsl(280, 18%, 90%);
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .header-texts-container {
    width: 800px;
  }
  .header-topic {
    font-size: 100px;
  }
  .header-sub-topic {
    font-size: 25px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 280px;
    height: 50px;
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-texts-container {
    width: 800px;
  }
  .header-topic {
    font-size: 90px;
  }
  .header-sub-topic {
    font-size: 20px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 280px;
    height: 50px;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-texts-container {
    width: 700px;
  }
  .header-topic {
    font-size: 80px;
  }
  .header-sub-topic {
    font-size: 18px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 260px;
    height: 45px;
    font-size: 18px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header-texts-container {
    width: 500px;
  }
  .header-topic {
    font-size: 75px;
  }
  .header-sub-topic {
    font-size: 18px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 260px;
    height: 45px;
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .header-texts-container {
    width: 100%;
  }
  .header-topic {
    font-size: 60px;
    padding: 0 10px 0 10px;
  }
  .header-sub-topic {
    font-size: 16px;
  }
  .header-btn {
    margin-top: 3rem;
    width: 240px;
    height: 40px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */